<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;}
</style>
</head>
<body>

<h1>imola</h1>
<h2>maria jose</h2>
<p>lana del rey e lady gaga as maiores</p>

</body>
</html>